/* before, after 실험 */
.highlight {
    background-color: yellowgreen;
    color: white;
    border-radius: 6px;
    padding: 1px 4px 0px 4px;
    transition: background-color 1s ease;
}
.highlight::after {
    content: " *";
    color: red;
    font-weight: bold;
}